<!DOCTYPE html>
 <html>
  <head>
   <title>{{ page.title }}</title>
   <!-- link to main stylesheet -->
   <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/blog">News</a></li>
          <li><a href="/about">About</a></li>
      </ul>
  </nav>
   <div class="container">
      <div class="blurb">
	      <img src="/images/logoNPCDecoWRes.png" width=300px/>
	      <h2> The New Paradigm Computing Laboratory</h2>
   
   {{ content }}
   
      </div><!-- /.blurb -->
   </div><!-- /.container -->
   <footer>
      <ul>
          <li><a href="mailto:npc.nu.kz@gmail.com">email</a></li>
   </ul>
   </footer>
  </body>
 </html>
